.elementToFadeInAndOut {
  width:200px;
  height: 200px;
  -webkit-animation: fadeinout 4s linear forwards;
  animation: fadeinout 4s linear forwards;
}
* {
  border: 1px solid red;
}
.wrapper-circle {
  max-width: 600px;
  background: black;
  margin: 0 auto;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.buttons {
  margin: 25px 45px;
  float: left;
}
#top-right {
  height: 200px;
  width: 200px;
  background: #f1c40f;
}

#top-left {
  height: 200px;
  width: 200px;
  background: #e74c3c;
}

#bottom-left {
  height: 200px;
  width: 200px;
  background: #3498db;
}

#bottom-right {
  height: 200px;
  width: 200px;
  background: #4ECDC4;
}
